body {
  background-color: rgb(165,172,175);
}

.nav {
  position: sticky;
  top: 0;
  margin-bottom: 3%;
  background-color: #346db0;
  color: #d7e1ef
}

.textcolor {
  color: #d7e1ef;
}

.icons {
  size: 20;
  margin-right: 2px;
}